.pricing-desc {
  margin-bottom: 50px;
}
.pricing-table {
  margin-bottom: 50px;
}
.pricing-list {
  height: 250px;
}
.pricing .pricing-table .pricing-header {
  position: relative;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.parent .pricing-header {
  background: #DA784E;
}
.corporate .pricing-header {
  background: #852945;
}
.pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}
.pricing .pricing-list {
  padding: 20px 0 20px 0;
  border: 1px solid #e3e3e3;
}
.pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
.pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  font-size: 16px;
  line-height: 42px;
}
.pricing .pricing-list ul li:last-child {
  border: none;
}
.individual-sponsor {
  margin: 25px 0px;
}
